{% extends 'admin/adminindex.html' %}

{% block status %}


    <div class="col-md-9 bg-white">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 col-12">
                    <a href="addnewbook" class="text-decoration-none text-warning">
                        <span class="adminhead">Add new Book</span>
                    </a>

                </div>
                <div class="col-md-4 col-12">
                    <a href="category_management" class="text-decoration-none text-warning">
                        <span class="adminhead">Category Management</span>
                    </a>
                </div>
                <div class="col-md-4 col-12">
                    <form action=" " method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">

                            <input type="text" name="search" class="form-control" placeholder="Search by book name" aria-label="search" aria-describedby="button-addon2">
                                <button class="btn btn-outline-sucsess bg-secondary text-warning" type="submit" id="button-addon2">Search</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <span class="adminheadstatus">Total Book Selled:<strong>{{book_selled_count}}</strong></span>
                            </div>
                            <div class="col-md-3 col-6">
                                <span class="adminheadstatus">Total Books in Stock:&nbsp<strong>{{ p_count }}</strong>
                                </span>
                            </div>
                            <div class="col-md-3 col-6">
                                <span class="adminheadstatus">New Orders:<strong>{{new_orders}}</strong></span>
                            </div>
                            <div class="col-md-3 col-6">
                                <span class="adminheadstatus">Out of Stock&nbsp<strong>{{ outofstock }}</strong>
                                </span>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No:</th>
                                    <th scope="col">Book Name</th>
                                    <th scope="col">Author's Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Stock left</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in pro %}

                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ p.book_name }}</td>
                                        <td>{{ p.author }}</td>
                                        <td>{{ p.price }}</td>
                                        <td>
                                            {% for i in cat %}
                                                {% if p.category_id == i.id %}
                                                    {{ i.category_name }}

                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ p.book_count }}</td>
                                        <td>

                                            <a href="edit_book/{{ p.id }}" class="text-decoration-none">
                                                <button class="btn btn-secondary btn-sm rounded-0">Edit</button>
                                            </a>

                                            {% if p.is_active %}
                                                <a href="block_book/{{ p.id }}" class="text-decoration-none">
                                                    <button type="button" class="btn btn-warning btn-sm rounded-0">Deactivate</button>
                                                </a>
                                            {% else %}
                                                <a href="unblock_book/{{ p.id }}" class="text-decoration-none">
                                                    <button type="button" class="btn btn-success btn-sm rounded-0">Make Active</button>
                                                </a>

                                            {% endif %}

                                            <a href="delete_book/{{ p.id }}" class="text-decoration-none">
                                                <button type="button" class="btn btn-danger btn-sm rounded-0">Delete </button>
                                            </a>
                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 d-flex justify-content-end">
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-8 col-sm-8 d-flex justify-content-end">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if not pro.has_previous %}
                                    {% else %}
                                    <li class="page-item text-center"><a class="page-link text-secondary border-warning" href="?page={{pro.previous_page_number}}">Previous</a></li>

                                    {% endif %}
                                
                                  <li class="page-item text-secondary border-warning disabled"><a class="page-link text-secondary border-warning border-warning" href="#">{{pro.number}} of {{pro.paginator.num_pages}}</a></li>
                                    {% if pro.has_next %}
                         

                                    <li class="page-item border-warning"><a class="page-link text-secondary border-warning" href="?page={{pro.next_page_number}}">Next</a></li>

                                    {% endif %}

                                  
                                  
                                </ul>
                              </nav>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
            </div>
       
        

{% endblock %}
