{% extends 'index.html' %}
{% load static %}

{% block content %}
<!-- ( ͡° ͜ʖ ͡°) -->
    <div class="container-fluid box1">
        <div class="row">
            <div class="col-md-12 logbigbox">
                <div class="col-md-5  logbox">
                    <div class="col-md-11 sublogbox">
                        <div class="row d-flex justify-content-center">

                            <div class="row d-flex justify-content-center">
                                <form action="/" method="POST" id="logform">
                                    {% csrf_token %}
                                    <div class="row d-flex justify-content-center">
                                        <span class="adminpanelsubhead">LOG IN</span>
                                    </div>
                                    <div class="row d-flex justify-content-center mt-4">
                                    <input type="email" name="email" id="email_id" placeholder="Email" class="formcontrol bg-transparent" autocomplete="off">
                                    </div>
                                    <div class="row d-flex justify-content-center mt-4">
                                        <input type="password" name="password" id="password_id" placeholder="Password" class="formcontrol bg-transparent" autocomplete="off"></div>
                                    </div>
                                        <div class="row d-flex justify-content-center mt-4">
                                            <div class="col-4 d-flex justify-content-center">
                                                <input type="submit" class="btn border border-warning bg-secondary text-warning" id="login_submit" value="Submit"></div>
                                                
                                            </form>
                                        </div>
                                        <div class="row d-flex justify-content-center mt-4">
                                            <div class="col-12 d-flex justify-content-center">
                                            <h3 class="text-danger robotothin" style="display:none ;" id="warning">Invalid Credential</h3>
                                            </div>

                                        </div>
                                        <div class="row d-flex justify-content-center mt-4">
                                            <div class="col-12 d-flex justify-content-end">
                                            <h3 class="text-warning fs-6 text robotothin" style="display:block;cursor: pointer ;" id="warning" onclick="showOtpbox()">Log in with OTP</h3>
                                            </div>

                                        </div>
                                        <div class="row">
                                        <div class="otpbox" id="otpbox" style="opacity: 0; overflow: hidden; ">
                                        <form class="d-flex" action="{% url 'otp_verification_send' %}" method='POST'>
                                            {% csrf_token %}
                                            <input type="number" name="otp_phone" class="form-control rounded-0"  >
                                                            <button class="btn btn-outline-sucsess bg-secondary text-warning rounded-0" type="submit" id="button-addon2">Send OTP</button>
                                                    
                                    
                                        </form>
                                    </div>
                                </div>
                                        
                                
                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                    <script>
                        $(document).on('submit', '#logform', function (e) {
                            e.preventDefault();
                            var email = $('#email_id').val()
                            var pass = $('#password_id').val()
                            console.log(email, pass)

                            $.ajax({
                                type: 'POST',
                                url: '',
                                dataType: 'json',
                                data: {
                                    'email': email,
                                    'pass': pass,
                                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function (responce) {
                                    console.log(responce)
                                    document.getElementById("warning").style.display = "none";
                                    if (responce.success == true) {
                                        window.location.replace('/home')
                                    } 
                                    
                                    else {
                                        document.getElementById("warning").style.display = "block";
                                    }
                                }
                            })

                        })

                        function showOtpbox(){
                            // document.getElementsByClassName("otpbox").style.opacity = "1";
                            // document.getElementById("otpbox").style.opacity= "1";
                            document.getElementById("login_submit").disabled = true;
                        
                        O=.1
                        function myLoop(){
                setTimeout(function(){
                    document.getElementById("otpbox").style.opacity = O;
                    O = O+.1;
                if(O<10.1){ myLoop(); }

                },20)

            }
            myLoop();

        }



                    </script>


                {% endblock %}
